#title{
    background-color: #3f3c3c;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;

}

h3{
    font-family: "Montserrat-Bolc";
    font-size: 2rem;
}


p{
    color: brown;
}

.container-fluid{
    padding-left: 200px;
    padding-right: 200px;
}

#carimg{
    margin-top: 150px;
    transform: rotate();
}


.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.btn{
    padding: 10px 3rem;
}

body{
    margin: 0;
    text-align: center;
    
}


/* features section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

/* icons */
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #3f3c3c;
}



/*testimonials*/

#testimonials{
    text-align: center;
    background-color: #ef8172;
    font-family: "Montserrat-Bolc";
    font-weight: bold;
    color: white;

}

/*press*/
#press{

    background-color: #ef8172;
    padding: 40px;
   
}

.pressLogo{
    padding: 40px 20px;
}
/* 
#carouselExampleIndicators{
    padding: 7% 15%;
} */

.carousel-item{
    padding: 7% 15%;

}


/* pricing */
#pricing{
    padding:60px 20px;
}